{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline" style="margin-bottom: 0.25em;">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.collection == 'teaching' %}
      <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.year | default: "2026" }} </p>
    {% elsif post.collection == 'publications' %}
      <p style="margin: 0;">Published in <i>{{ post.venue }}</i>, {{ post.year | default: "2026" }} </p>
      
      <p style="margin: 0;">
      {% if post.authors %}
        {% for author in post.authors %}{% assign author_name = author.name | default: author %}{% assign is_me = false %}{% if author_name contains "Tao Xiao" %}{% assign is_me = true %}{% endif %}{% capture display_name %}{% if is_me %}{% if post.is_first_author and post.is_corresponding_author %}<u><strong>{{ author_name }}</strong></u>{% elsif post.is_first_author %}<strong>{{ author_name }}</strong>{% elsif post.is_corresponding_author %}<u>{{ author_name }}</u>{% else %}{{ author_name }}{% endif %}{% else %}{{ author_name }}{% endif %}{% endcapture %}{{ display_name | strip }}{% unless forloop.last %}, {% endunless %}{% endfor %}
      {% endif %}
      
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}">[pdf]</a>
      {% endif %}
      </p>
      
      {% if post.abstract %}
      <details style="margin-top: 0.5em; cursor: pointer;">
        <summary style="font-size: 0.85em; color: #666;">View Abstract</summary>
        <p class="archive__item-excerpt" style="margin-top: 0.5em; font-size: 0.9em; line-height: 1.5; color: #444;">{{ post.abstract }}</p>
      </details>
      {% endif %}

    {% elsif post.year %}
      <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Year:" }}</strong> {{ post.year }}</p>
    {% endif %}

    {% if post.collection != 'publications' and post.excerpt and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description" style="margin-top: 0.5em;">{{ post.excerpt | markdownify }}</p>
    {% elsif post.collection != 'publications' and post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description" style="margin-top: 0.5em;"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}

  </article>
</div>
